/.idea/misc.xml
/.idea/modules.xml
/.idea/programming-challenge-april21.iml
/.idea/vcs.xml
/movies-backend/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/movies-backend/.gradle/buildOutputCleanup/cache.properties
/movies-backend/.gradle/checksums/checksums.lock
/movies-backend/.gradle/7.0/fileHashes/fileHashes.lock
/.idea/gradle.xml
/movies-backend/.gradle/checksums/md5-checksums.bin
/movies-backend/.gradle/checksums/sha1-checksums.bin
/movies-backend/.gradle/7.0/fileChanges/last-build.bin
/.idea/jarRepositories.xml
/.idea/libraries-with-intellij-classes.xml
/movies-backend/.gradle/7.0/gc.properties
/movies-backend/.gradle/vcs-1/gc.properties
/movies-backend/.gradle/7.0/dependencies-accessors/gc.properties
/movies-backend/.gradle/configuration-cache/gc.properties
/movies-backend/.gradle/6.4.1/gc.properties
/movies-backend/.gradle/6.4.1/fileHashes/fileHashes.lock
/movies-backend/.gradle/7.0/dependencies-accessors/dependencies-accessors.lock
/.idea/modules/movies-backend.iml
/movies-backend/.gradle/6.4.1/fileChanges/last-build.bin
/movies-backend/build/test-results/test/TEST-com.movies.api.MoviesApplicationTests.xml
/movies-backend/build/reports/tests/test/css/style.css
/movies-backend/build/tmp/compileTestJava/source-classes-mapping.txt
/movies-backend/build/tmp/compileJava/source-classes-mapping.txt
/movies-backend/build/test-results/test/binary/results.bin
/movies-backend/build/reports/tests/test/js/report.js
/movies-backend/build/test-results/test/binary/output.bin.idx
/movies-backend/build/test-results/test/binary/output.bin
/movies-backend/build/reports/tests/test/index.html
/movies-backend/build/classes/java/main/com/movies/api/MoviesApplication.class
/movies-backend/build/classes/java/test/com/movies/api/MoviesApplicationTests.class
/movies-backend/build/reports/tests/test/classes/com.movies.api.MoviesApplicationTests.html
/movies-backend/build/reports/tests/test/packages/com.movies.api.html
/movies-backend/build/reports/tests/test/css/base-style.css
/movies-backend/build/resources/main/application.yml
/movies-backend/build/resources/main/db/changelog/db.changelog-master.yaml
/movies-backend/build/resources/main/db/changelog/db.changelog-movies.yaml
/movies-backend/.gradle/7.0/javaCompile/jarAnalysis.bin
/movies-backend/.gradle/7.0/javaCompile/javaCompile.lock
/movies-backend/.gradle/buildOutputCleanup/outputFiles.bin
/movies-backend/.gradle/7.0/fileHashes/resourceHashesCache.bin
/movies-backend/.gradle/7.0/javaCompile/taskHistory.bin
/movies-backend/.gradle/7.0/fileHashes/fileHashes.bin
/movies-backend/.gradle/7.0/executionHistory/executionHistory.lock
/movies-backend/.gradle/7.0/executionHistory/executionHistory.bin
/movies-backend/.gradle/7.0/javaCompile/classAnalysis.bin
/movies-backend/build/classes/java/main/com/movies/api/movies/controller/MoviesController.class
/movies-backend/build/classes/java/main/com/movies/api/movies/domain/Movies.class
/movies-backend/build/classes/java/main/com/movies/api/movies/domain/MoviesDto.class
/movies-backend/build/classes/java/main/com/movies/api/movies/repository/MoviesRepository.class
/movies-backend/build/classes/java/main/com/movies/api/movies/service/MoviesService.class
